<div style="text-align: center">
        <div class="container-fluid">
       
          <div class="card row">
              <div class="col-md-12" *ngFor="let country of currentCountry" >
                <div class="card-header" >
                 
              <img class="card-img-top img-responsive" src={{country.flag}} alt="Card image cap">
            
               
            
              <ul class="list-group list-group-flush">
                  <h5 class="card-title">Country Name :    {{country.name | uppercase}} </h5>
                <li class="list-group-item">Country Capital :    {{country.capital}}</li>
                <li class="list-group-item">Country Currency :   <a style="color:black" [routerLink] = "['/currency',country.currencies[0].code]">{{country.currencies[0].name}}</a></li>
                <li class="list-group-item">Country Timezone :   {{country.timezones}}</li>
                <li class="list-group-item">Country SubRegion :   {{country.subregion}}</li>
                <li class="list-group-item">Country Language :   <a style="color:black" [routerLink]= "['/lang',country.languages[0].iso639_1]">{{country.languages[0].name}}</a></li>
                <li class="list-group-item">Country Population :    {{country.population}}</li>
                <li class="list-group-item">Country Native Name :   {{country.nativeName}}</li>
                <li class="list-group-item">Country Regional Blocs :    {{country.regionalBlocs[0].name}}</li>
              </ul>
              <div class="card-body">
               <button class="btn btn-primary" (click)=goBackToPreviousPage()>Go Back</button> 
              </div>
            </div>
          </div>
      </div>
        </div>
      
      </div>